* {
  margin: 0;
  padding: 0;
}

.bd-top {
  position: relative;
}
.bd-top:before {
  content: '  ';
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  height: 200%;
  border-top: 1px solid #eee;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  box-sizing: border-box;
}

.ignore-root{
  padding-top: 40px;
}
.pointRoot {
  background: #fff;
 
  .mint-header {
    background: #fff;
    color: #666;
  }

  .pointRoot-avatar {
    position: relative;
    display: flex;
    justify-content: center;
    color: #fff;
    background: #50a60e;
    height: 375px;

    .avatar-main {
      display: flex;
      margin-top: 67px;
      flex-direction: column;
      align-items: center;
      line-height: 1;
      .main-txt {
        font-size: 48px;
      }
      .main-point {
        font-size: 100px;
      }
      .main-btn {
        width: 172px;
        height: 74px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #53ab3a;
        background: #fff;
        font-size: 34px;
        margin-top: 32px;
        border-radius: 10px;
        
      }
    }
    .avatar-to {
      position: absolute;
      right: 0;
      top: 45px;
      background: #f3e817;
      color: #49a402;
      font-size: 32px;
      padding: 10px 10px 10px 30px;
      border-top-left-radius: 40px;
      border-bottom-left-radius: 40px;
    }
  }
  .pointRoot-tip {
    position: relative;
    margin: -65px 32px 0 32px;
    border-radius: 20px;
    background: #fff;
    color: #666;
    font-size: 32px;
    height: 131px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
    box-shadow: 0 0 10px #ddd;
    .tip-icon{
      width: 56px;
      height: 56px;
      display: inline-block;
      background: url(../imgs/lnotice.png)no-repeat;
      background-size: 100%;
    }
    .tip-txt {
      margin-left: 16px;
    }
  }
  .pointRoot-listTitle {
    position: relative;
    box-sizing: border-box;
    margin: 0 32px;
    padding-top: 60px;
    padding-bottom: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .listTitle-big {
      font-size: 46px;
      font-weight: bold;
      border-left: 10px solid #4aa503;
      padding-left: 32px;
    }
    .listTitle-small {
      font-size: 34px;

      .small-numtxt{
         color: #47a504;
         font-size: 38px;
      }
      .small-txt{
        color: #47a504;
      }
    }
  }
  .pointRoot-termList {
    box-sizing: border-box;
    padding: 0 45px;
    .term {
      height: 278px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .term-progress{
      align-items: center;
      display: flex;
      margin-top: 24px;
    }
    .mt-progress {
      align-items: center;
      font-size: 22px;
      color: #999;
      height: 16px;
      width: 185px;
      display: inline-block;
    }
    .progress-txt{
      color: #999;
      display: inline-block;
      font-size: 22px;
      margin-left: 24px;
    }
    .mt-progress-content {
      width: 185px;
      margin-right: 20px;
      height: 16px;
    }
    .mt-progress-runway {
      height: 16px!important;
      border-radius: 16px;
      width: 185px;
    }
    .mt-progress-progress{
      height: 16px!important;
    }
    .mt-progress-progress {
      background: #53ab3a;
      border-radius: 16px;
    }
    .term-left {
      position: relative;
    }
    .term-title {
      font-size: 36px;
      font-weight: bold;
    }
    .term-desc {
      margin-top: 26px;
      line-height: 1;
      font-size: 28px;
      color: #999;
    }
    .term-right {
      position: relative;
    }
    .term-btn {
      font-size: 34px;
      color: #666;
      background: #f0f3f3;
      width: 160px;
      height: 75px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      white-space: nowrap;
      border-radius: 10px;
      line-height: 1;
    }
    .btn-look {
      background: #03b502;
      color: #fff;
    }
  }
  .mint-popup{
    width: 80%;
    border-radius: 6px;

  }
  .exchange{
    padding: 30px;
    dt{
      text-align: center;
      font-weight: bold;
      font-size: 50px;
      color: #333;
    }
    dd{
      margin: 20px 0;
      color: #999;
    }

    .btn-box{
      text-align: center;
      margin-top: 60px;
    }
    .exchange-btn{
      border: none;
    }
    .mint-button--primary{
      background: #53ab3a;
      width: 80%;
    }
  }

}

@mixin thinBorder($directionMaps: bottom, $color: #ccc, $position: after) {
  // 是否只有一个方向
  $isOnlyOneDir: string==type-of($directionMaps);
  @if ($isOnlyOneDir) {
    $directionMaps: ($directionMaps);
  }
  @each $directionMap in $directionMaps {
    border-#{$directionMap}: 1px solid $color;
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    & {
      position: relative;
      // 删除1像素密度比下的边框
      @each $directionMap in $directionMaps {
        border-#{$directionMap}: none;
      }
    }
    &:#{$position} {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 200%;
      height: 200%;
      transform: scale(0.5);
      box-sizing: border-box;
      padding: 1px;
      transform-origin: 0 0;
      pointer-events: none;
      border: 0 solid $color;
      @each $directionMap in $directionMaps {
        border-#{$directionMap}-width: 1px;
      }
    }
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 3) {
    &:#{$position} {
      width: 300%;
      height: 300%;
      transform: scale(0.33);
    }
  }
}

@each $dir in (top, right, bottom, left) {
  .border-#{$dir}-#{1}px {
    @include thinBorder($dir);
  }
}
