* {
  margin: 0;
  padding: 0;
}

.bd-top {
  position: relative;
}
.bd-top:before {
  content: '  ';
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 200%;
  height: 200%;
  border-top: 1px solid #eee;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  box-sizing: border-box;
}

.pointRoot {
  .mint-header {
    background: #fff;
    color: #666;
  }

  .pointRoot-avatar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #53ab3a;
    height: 500px;

    .avatar-main {
      display: flex;
      flex-direction: column;
      align-items: center;
      .main-txt {
        font-size: 48px;
      }
      .main-point {
        font-size: 100px;
      }
      .main-btn {
        padding: 5px 20px;
        color: #53ab3a;
        background: #fff;
        border-radius: 20px;
      }
    }
    .avatar-to {
      position: absolute;
      right: 0;
      top: 45px;
      background: #ff801a;
      color: #fff;
      font-size: 48px;
      padding: 10px 10px 10px 30px;
      border-top-left-radius: 40px;
      border-bottom-left-radius: 40px;
    }
  }
  .pointRoot-tip {
    position: relative;
    margin: -50px 51px 0 51px;
    border-radius: 20px;
    background: #fff;
    color: #666;
    font-size: 34px;
    height: 100px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
    box-shadow: 0 0 10px #ddd;
    .tip-txt {
      margin-left: 30px;
    }
  }
  .pointRoot-listTitle {
    position: relative;
    height: 140px;
    box-sizing: border-box;
    padding: 0 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .listTitle-big {
      font-size: 46px;
      font-weight: bold;
    }
    .listTitle-small {
      font-size: 34px;
    }
  }
  .pointRoot-termList {
    box-sizing: border-box;
    padding: 0 51px;
    .term {
      height: 278px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .mt-progress {
      align-items: center;
      margin-top: 26px;
      font-size: 32px;
    }
    .mt-progress-content {
      width: 170px;
      margin-right: 20px;
    }
    .mt-progress-runway {
      border-radius: 16px;
    }
    .mt-progress-progress {
      background: #53ab3a;
      border-top-left-radius: 16px;
      border-bottom-left-radius: 16px;
    }
    .term-left {
      position: relative;
    }
    .term-title {
      font-size: 40px;
    }
    .term-desc {
      margin-top: 26px;
      line-height: 1;
      font-size: 36px;
    }
    .term-right {
      position: relative;
    }
    .term-btn {
      font-size: 36px;
      color: #666;
      background: #f1f4f4;
      padding: 10px 15px;
      border: none;
    }
    .btn-look {
      background: #fdf8ef;
    }
  }
}
