* {
  margin: 0;
  padding: 0;
}

.bd-top {
  position: relative;
}
.bd-top:before {
  content: '  ';
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 200%;
  height: 200%;
  border-top: 1px solid #eee;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  box-sizing: border-box;
}

.pointHistory {
  .mint-header {
    background: #fff;
    color: #666;
  }
  .pointHistory-swipe {
    height: 690px;
    background: #fbfbfb;

    .pointHistoryUl {
      display: flex;
      height: 100%;
      width: 5148px;
      .pointHistoryLi {
        width: 143px;
        display: flex;
        box-sizing: border-box;
        padding-top: 45px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        border-right: 0.5px solid #f7f7f7;
      }
      .pointHistoryLi.today {
        background: #edfde8;
      }
      .bottom-num {
        text-align: center;
        color: #999;
        font-size: 20px;
      }
      .bottom-bar {
        background: #73f150;
        width: 97px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 10px;
      }
    }
  }
  .pointHistory-title {
    display: flex;
    justify-content: space-between;
    padding: 0 51px;
    box-sizing: border-box;
    margin-top: 50px;
  }
  .pointHistory-list {
    box-sizing: border-box;
    margin: 0 51px;
    margin-top: 40px;
    position: relative;
    .list-sideLine {
      position: absolute;
      height: 100%;
      width: 1px;
      left: 10px;
      top: 15px;
      background: #f1f4f4;
    }
    .list-item {
      padding-bottom: 55px;

      .item-dot {
        width: 21px;
        height: 21px;
        border-radius: 50%;
        background: #f1f4f4;
        margin-right: 30px;
      }
      .item-top {
        display: flex;
        height: 30px;
        align-items: center;
        font-size: 30px;
        color: #666;
      }
      .item-bottom {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        padding-left: 51px;
        font-size: 40px;
        line-height: 1;
        margin-top: 30px;
        .item-point {
          font-size: 36px;
          color: #53ab3a;
        }
        .point {
          color: #53ab3a;
          font-size: 48px;
        }
      }
    }
  }
}
